.card-title{
    font-size: 1rem;
}
.event-card-text{
    font-size: 0.75rem;
    padding-bottom: 15px;
}
.event-card-body{
    
}
.event-card{
 width: 100%;
 min-width: 200px;
 margin: auto;
}
.event-card-test-description{

}
.event-card-test-date{
    padding-top: 5px;
    font-weight: 600;
}
.btn-nav-bar{
    width: 10rem;
    height: 35px;
    border-radius: 10px 10px 0px 0px;
    overflow: hidden;
    filter: opacity(0.95);
}
